extends layout

block content
  h1= title
  .registration 
    form.phone(action='/add' method="POST" class="pure-form pure-form-stacked" enctype="multipart/form-data")
      .fieldset
        input.number__input(type="text" placeholder="Phone number" name="number")
        input(type="submit" value="Submit" class="button pure-button pure-button-primary")
